/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
}

body {
    font-family: "Roboto", "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}*/

.header_container {
    position: absolute;
    top: 180px;
    left: 33%;
    width: 435px;
    height: 200px;
}

.logo {
    width: 85%;
    margin: 35px auto 20px auto;
}

.logo img {
    position: absolute;
    left: -19%;
    height: 49%;
    top: 10%;
    border-bottom: 2px solid #35485b;
}

.tag_line {
    font-size: 2.3em;
    text-align: center;
    color: #35485b;
    position: absolute;
    top: 61%;
    left: 21%;
}
 
 /*.navbar-default {
    background: black;
 }*/

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: url(../img/img_hero.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a img {
    height: 107%;
    position: relative;
    top: -6%;
}

/* About */

.about, 
.andela_fellow,
.mean_stack,
.apply{
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

/*.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/

/* Portfolio */

/*.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}
*/
/* Call to Action */

/*.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}*/

/* Map */

/*.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}*/

/* Footer */

footer {
    padding: 100px 0;
}