/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

h2 { 
  font-family: 'Raleway', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #D3279C;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5) inset, 0px 5px 4px rgba(0, 0, 0, 0.12);
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #D3279C;
    background-color: #DA2426;
}

.active {
    font-weight: bold;
    color: red;
}

.navbar-brand strong {
    color: #ffffff;
}

.navbar-brand strong:hover {
    color: tomato;
}

.header_container {
    position: absolute;
    top: 180px;
    left: 33%;
    width: 435px;
    height: 200px;
}

.logo {
    width: 85%;
    margin: 35px auto 20px auto;
}

.logo img {
    position: absolute;
    left: -19%;
    height: 49%;
    top: 10%;
    border-bottom: 2px solid #35485b;
}

.tag_line {
    font-size: 2.3em;
    text-align: center;
    color: #35485b;
    position: absolute;
    top: 61%;
    left: 21%;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: url(../img/img_hero.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a img {
    height: 107%;
    position: relative;
    top: -6%;
}

/* About */

.about, 
.andela_fellow,
.mean_stack,
.apply{
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Footer */

/*footer {
    padding: 100px 0;
    background-color: black;
    color: white;
}*/

a.selected {
    color: red;
}

.footer {
 background-color: black;
 padding-top: 20px;
} 