div.my_wrapper{
  max-width: 1100px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 10px !important;
}

p, ul, li,dl, dt, dd, fieldset, input, label{
  font-size: 14px !important;
  line-height: 1.5;
}

h1 {
  font-size: 24px !important;}

h2 {
  font-size: 18px !important;}

h3 {
  font-size: 15px !important;}


abbr[title] {
  border: none;}

section{
  padding: 60px 0 !important;  
}
section div{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  text-align: left;
}
section#mean_stack{
  background: #102078 url(../img/bg2.jpg) no-repeat top left;
  background-size: cover;
  color: #f3f4f5;
}
section#mean_stack h2{
  color: #f3f4f5;
}
section#mean_stack div.col_content{
  border: 1px solid white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 15px;
  min-height: 340px;
}

section h2{
  text-shadow: 0px 1px 1px #666;
  text-align: center;
}

section#about{
  background: #102078 url(../img/bg3.jpg) no-repeat top left;
  background-size: cover;
}
